.codehilite { background: #FCFCFC; overflow: auto; width: auto; border-radius: 5px; box-shadow: 0 7px 18px rgb(0 0 0 / 35%); padding: 1rem 1.3rem; margin: 2.3rem auto; }
.codehilite .topbar { position: relative; color: #bbbbbb; text-align: center; line-height: 48px; margin-top: -1rem; margin-bottom: 1rem; }
.codehilite .topbar > svg { position: absolute; left: 0; top: 18px; }
.codehilite pre { margin: 0; line-height: 125%; }
.codehilite pre .built-in { color: #a626a4; }
.codehilite pre .class { color: #FF3333; font-style: bold; }
.codehilite pre .comment { color: #a0a1a7; font-style: italic; }
.codehilite pre .function { color: #e06c75 }
.codehilite pre .omitted { color: #bbbbbb; }
.codehilite pre .operator { color: #666666; }
.codehilite pre .package { color: inherit; }
.codehilite pre .variable { color: #50a14f; }