html, body { min-height: 100%; width: 100%; padding: 0; margin: 0; }
body { background-color: #DDDDDD; color: #F8F8F2; position: relative; margin: auto; display: block; height: auto;
    justify-content: center;
}
body, .links .item > a i::after { font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; }
::selection, ::-moz-selection { background-color: #6C1616; color: #FFFFFF; }
h1 { font-size: 3em; margin-block-end: .5em; }
.bg-animated h1, .bg-animated h2, .bg-animated h3, .bg-dark h1, .bg-dark h2, .bg-dark h3 { text-align: center; max-width: 600px; }
.bg-animated h1, .bg-dark h1 { color: #FFF; font-size: 4.6rem; margin: 6rem auto 0 auto; line-height: 4.2rem; }
.bg-animated h2, .bg-dark h2 { font-family: 'visitor'; color: #FF3333; margin: 1rem auto 3.8rem auto; font-size: 8rem; line-height: 6.4rem; }
.bg-animated h3, .bg-dark h3 { color: #FEFEF3; color: #FF3333; margin: 1rem auto 3.6rem auto; font-size: 3.4rem; line-height: 3.8rem; }
.bg-animated .cta, .bg-dark .cta { display: flex; align-items: center; justify-content: center; margin-bottom: 5rem; }
.cta a { display: inline-block; padding: 1rem 1.8rem; margin: 0 2rem; background-color: #E6E6E6; color: #000; text-transform: uppercase; font-weight: 800; transition: 0.5s ease-in-out; }
.cta a > emph, p > emph { text-decoration: underline; }
.cta a, .bg-animated .cta a:hover, .bg-animated .cta a:visited { text-decoration: none; }
.cta a:hover { color: #FFF; background-color: #F84F4F; box-shadow: 0px 0px 0px 2.5px black inset, 0px 0px 0px 5px #F84F4F; }
.cta a:nth-child(1) { background-color: #FF9999; }
.cta a:nth-child(1):hover { color: #FFF; background-color: #FF1112; box-shadow: 0px 0px 0px 2.5px black inset, 0px 0px 0px 5px #FF1112; }
.content { color: #000; margin: 4rem 0 0 0; box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2); }
.wrapper { width: 100%; max-width: 1200px; min-width: 420px; height: 100%; margin: 0 auto; }
.wrapper .cta { min-height: 5rem; }
section { background-color: #FDFDFD; padding: 0; margin: 0; z-index: 0; }
section .wrapper { padding: 1.5rem 0; border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
section.bg-animated { overflow: hidden; background: none; }
section.bg-animated > .bg { position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: -1; background: linear-gradient(-45deg, #5189E3, #EE3839, #DDDDDD, #EE3839); background-size: 400% 400%; overflow: hidden; animation: gradient 6s ease infinite; }
.halftone { aspect-ratio: 1; background: rgb(0 0 0); filter: contrast(20) invert(0); mix-blend-mode: multiply; z-index: -1; }
.halftone::before { content: ''; position: absolute; inset: 0; background-image: radial-gradient(circle at center, rgb(255, 255, 255) 3%, rgb(255 255 255 / 0.4) 7%); background-size: 33px 33px; background-repeat: round; background-position: 0 0, 40px 40px; -webkit-mask-image: linear-gradient(rgb(0 0 0), rgb(0 0 0 / 0.5)); mask-image: linear-gradient(rgb(0 0 0), rgb(0 0 0 / 0.5)); mask-size: cover; mask-position: center; transition: background-size 100ms; }
section.bg-dark { background-image: url("https://marcelrobeer.github.io/img/dot-grid-dark.png"); background-repeat: repeat; }
section.bg { background-image: url("https://marcelrobeer.github.io/img/dot-grid.png"); background-repeat: repeat; }
.links { padding-right: 1rem; }
.links .item { background-color: #E6E6E6; padding: .7rem .7rem; font-size: 1em; width: 100%; margin-bottom: .8rem; display:grid; grid-template-columns: 1fr auto; }
.links .item .description { margin-left: 1rem; }
.links .item .description p { font-size: .9rem; font-style: italic; color: #111112; }
.links .item .description a { display: block; font-size: 1.5em; margin-top: 0.83em; margin-bottom: 0.83em; margin-left: 0; margin-right: 0; font-weight: bold;
font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif
}
.links .item .description a i { margin-right: .8em; }
.links .item .description a:hover { text-decoration: underline; }
.links .item a { color: #080802; text-decoration: none; }
.links .item > a { background-color: #252526; color: #F9F9F9; margin-left: auto; margin-right: 0; padding: 2rem; max-height: 45px; }
.links .item > a:hover { background-color: #353536; color: #FFF; }
.links .item > a i { float: right; font-size: 2.5rem; white-space: pre; position: relative; transform: translateY(-0.33rem); }
.links .item > a i::after { content: '\A docs'; font-size: 0.6rem; position: absolute; bottom: -1rem; left: 0.66rem; }
.doc { display: flex; width: 100%; justify-content: space-between; gap: 2rem; }
.doc section { flex: 1; background: none; }
.doc aside { position: relative; width: 160px; height: 160px; }
.doc aside > img { position: absolute; margin: auto; max-height: 100%; max-width: 100%; top: 0; right: 0; bottom: 0; left: 0; }
.doc + .cta a, #about .cta a, #explabox .cta a { font-size: .9rem; text-transform: none; margin: 0; color: #FFF; background-color: #F84F4F; float: right; }
#about .cta a, #explabox .cta a { margin: 1.5rem 0 1.5rem 1.2rem; }
#about .cta a:nth-child(1), #explabox .cta a:nth-child(1) { background-color: #6F6F6F; }
.doc + .cta a:hover, #about .cta a:hover, #explabox .cta a:hover { background-color: #FF1112; box-shadow: 0px 0px 0px 2.5px #FDFDFD inset, 0px 0px 0px 5px #FF1112; }
p { color: #1E1E1E; line-height: 1.5em; }
p > span.c { font-family: Menlo, Monaco, Consolas, "Courier New", "Lucida Console", monospace; font-size: 90%; padding: 2px; }
p.info { color: #FF7775; line-height: 24px; }
p.info::before { content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='24px' height='24px'%3E%3Cpath fill='%23FF7775' d='M 10 4 L 10 6 L 22 6 L 22 4 L 10 4 z M 22 6 L 22 8 L 24 8 L 24 6 L 22 6 z M 24 8 L 24 10 L 26 10 L 26 8 L 24 8 z M 26 10 L 26 22 L 28 22 L 28 10 L 26 10 z M 26 22 L 24 22 L 24 24 L 26 24 L 26 22 z M 24 24 L 22 24 L 22 26 L 24 26 L 24 24 z M 22 26 L 10 26 L 10 28 L 22 28 L 22 26 z M 10 26 L 10 24 L 8 24 L 8 26 L 10 26 z M 8 24 L 8 22 L 6 22 L 6 24 L 8 24 z M 6 22 L 6 10 L 4 10 L 4 22 L 6 22 z M 6 10 L 8 10 L 8 8 L 6 8 L 6 10 z M 8 8 L 10 8 L 10 6 L 8 6 L 8 8 z M 15 10 L 15 12 L 17 12 L 17 10 L 15 10 z M 14 14 L 14 16 L 15 16 L 15 22 L 18 22 L 18 20 L 17 20 L 17 14 L 14 14 z'/%3E%3C/svg%3E"); display: inline-block; width: 24px; height: 24px; margin-right: 4px; position: relative; top: 0.3em; }
ul > li { line-height: 1.25em; }
ul > li:not(:last-child) { margin-bottom: .5rem; }
footer { background-color: #F9F9F9; color: #0E0E0E; padding: 1.5rem; display: block; text-align: right; }
.fade-left, .fade-right, .fade-in { animation-iteration-count: 1; animation-fill-mode: forwards; }
.fade-left { animation: fadeLeft ease-out 1.2s; }
.fade-right { animation: fadeRight ease-out 1.2s; }
.fade-in > a { animation: fadeIn ease-out 1.8s; }
.fade-in a:nth-child(2) { animation: fadeIn2 ease-out 2.2s; }
@media only screen and (max-width: 1200px) and (min-width: 769px) {
    .wrapper { max-width: 700px; min-width: 420px; margin: 0 auto; }
}
@media only screen and (max-width: 768px) {
    body { margin: 0px; width: 100vw; height: 100vh; overflow: auto; }
    #header { width: 100vw; }
    .halftone { aspect-ratio: 0.5; }
    .bg-animated h1, .bg-dark h1 { font-size: 2.4rem; line-height: 2.6rem; }
    .bg-animated h2, .bg-dark h1 { font-size: 4.6rem; line-height: 4.8rem; }
    .bg-animated .wrapper, .bg-dark .wrapper { margin: 0; }
    .wrapper { width: 100vw; min-width: 420px; margin: 0; padding: 0 1rem; }
}
@media only screen and (max-width: 665px) {
    .bg-animated .cta, .bg-animated .cta a, .bg-dark .cta, .bg-dark .cta a { display: block; padding: 0; }
    .bg-animated .cta a, .bg-dark .cta a { margin: 2rem 1rem; padding: 1.4rem 1.8rem; }
    .cta a, .doc + .cta a, #about .cta a, #explabox .cta a { display: block; float: none; margin: 2rem 0.5rem; };
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@keyframes fadeLeft {
    0% {
        opacity: 0;
        transform: translate(-26%);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes fadeRight {
    0% {
        opacity: 0;
        transform: translate(+26%);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes fadeIn {
    0%, 50% {
        transform: translateY(30px);
        opacity: 0;
    }
    100% {
        transform: translate(0);
        opacity: 1;
    }
}
@keyframes fadeIn2 {
    0%, 70% {
        transform: translateY(30px);
        opacity: 0;
    }
    100% {
        transform: translate(0);
        opacity: 1;
    }
}
@media (prefers-reduced-motion: reduce) {
    .fade-left, .fade-right, .fade-in { animation: none; transform: translate(0); opacity: 1; }
    :not(.in-view, .in-view-first)[data-animate] { transform: translate(0); opacity: 1; }
}
[data-animate] { opacity: 0; transition: 0.6s ease-in-out;}
:not(.in-view, .in-view-first)[data-animate="fade-up"] { transform: translateY(20px); }
:not(.in-view, .in-view-first)[data-animate="fade-left"] { transform: translateX(-80px); }
:not(.in-view, .in-view-first)[data-animate="fade-right"] { transform: translateX(80px); }
.in-view[data-animate], .in-view-first[data-animate] { opacity: 1; }
.in-view[data-animate="fade"], .in-view-first[data-animate="fade"] { transform: translate(0); }
