html, body { min-height: 100%; width: 100%; padding: 0; margin: 0; }
body { background-color: #DDDDDD; color: #F8F8F2; position: relative; margin: auto; display: block; height: auto;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
h1 { font-size: 3em; margin-block-end: .5em; }
.bg-dark h1, .bg-dark h2, .bg-dark h3 { text-align: center; max-width: 600px; }
.bg-dark h1 { color: #FFF; font-size: 4.6rem; margin: 6rem auto 0 auto; line-height: 4.2rem; }
.bg-dark h2 { font-family: 'visitor'; color: #FF3333; margin: 1rem auto 3.8rem auto; font-size: 8rem; line-height: 6.4rem; }
.bg-dark h3 { color: #FEFEF3; color: #FF3333; margin: 1rem auto 3.6rem auto; font-size: 3.4rem; line-height: 3.8rem; }
.bg-dark .cta { display: flex; align-items: center; justify-content: center; margin-bottom: 5rem; }
.cta a { display: inline-block; padding: 1rem 1.8rem; margin: 0 2rem; background-color: #E6E6E6; color: #000; text-transform: uppercase; font-weight: 800; transition: 0.5s ease-in-out; }
.cta a > emph, p > emph { text-decoration: underline; }
.cta a, .bg-dark .cta a:hover, .bg-dark .cta a:visited { text-decoration: none; }
.cta a:hover { color: #FFF; background-color: #F84F4F; box-shadow: 0px 0px 0px 2.5px black inset, 0px 0px 0px 5px #F84F4F; }
.cta a:nth-child(1) { background-color: #FF9999; }
.cta a:nth-child(1):hover { color: #FFF; background-color: #FF1112; box-shadow: 0px 0px 0px 2.5px black inset, 0px 0px 0px 5px #FF1112; }
.content { color: #000; margin: 4rem 0 0 0; box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2); }
.wrapper { width: 100%; max-width: 1200px; min-width: 400px; height: 100%; margin: 0 auto; }
.wrapper .cta { min-height: 5rem; }
section { background-color: #FDFDFD; padding: 0; margin: 0; }
section .wrapper { padding: 1.5rem 0; border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
section.bg-dark { background-image: url("https://marcelrobeer.github.io/img/dot-grid-dark.png"); background-repeat: repeat; }
section.bg { background-image: url("https://marcelrobeer.github.io/img/dot-grid.png"); background-repeat: repeat; }
.links { padding-right: 1rem; }
.links .item { background-color: #E6E6E6; padding: .7rem .7rem; font-size: 1em; width: 100%; margin-bottom: .8rem; display:grid; grid-template-columns: 1fr auto; }
.links .item .description { margin-left: 1rem; }
.links .item .description p { font-size: .9rem; font-style: italic; color: #111112; }
.links .item .description a { display: block; font-size: 1.5em; margin-top: 0.83em; margin-bottom: 0.83em; margin-left: 0; margin-right: 0; font-weight: bold;
font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif
}
.links .item .description a i { margin-right: .8em; }
.links .item .description a:hover { text-decoration: underline; }
.links .item a { color: #080802; text-decoration: none; }
.links .item > a { background-color: #252526; color: #F9F9F9; margin-left: auto; margin-right: 0; padding: 2rem; max-height: 45px; }
.links .item > a:hover { background-color: #353536; color: #FFF; }
.links .item > a i { float: right; font-size: 2.5rem; }
.doc { display: flex; width: 100%; justify-content: space-between; gap: 2rem; }
.doc section { flex: 1; background: none; }
.doc aside { position: relative; width: 160px; height: 160px; }
.doc aside > img { position: absolute; margin: auto; max-height: 100%; max-width: 100%; top: 0; right: 0; bottom: 0; left: 0; }
.doc + .cta a, #about .cta a, #explabox .cta a { font-size: .9rem; text-transform: none; margin: 0; color: #FFF; background-color: #F84F4F; float: right; }
#about .cta a, #explabox .cta a { margin: 1.5rem 0 1.5rem 1.2rem; }
#about .cta a:nth-child(1), #explabox .cta a:nth-child(1) { background-color: #6F6F6F; }
.doc + .cta a:hover, #explabox .cta a:hover { background-color: #FF1112; box-shadow: 0px 0px 0px 2.5px #FDFDFD inset, 0px 0px 0px 5px #FF1112; }
p { color: #1E1E1E; line-height: 1.5em; }
p > span.c { font-family: Menlo, Monaco, Consolas, "Courier New", "Lucida Console", monospace; font-size: 90%; padding: 2px; }
p.info { color: #FF7775; line-height: 24px; }
p.info::before { content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='24px' height='24px'%3E%3Cpath fill='%23FF7775' d='M 10 4 L 10 6 L 22 6 L 22 4 L 10 4 z M 22 6 L 22 8 L 24 8 L 24 6 L 22 6 z M 24 8 L 24 10 L 26 10 L 26 8 L 24 8 z M 26 10 L 26 22 L 28 22 L 28 10 L 26 10 z M 26 22 L 24 22 L 24 24 L 26 24 L 26 22 z M 24 24 L 22 24 L 22 26 L 24 26 L 24 24 z M 22 26 L 10 26 L 10 28 L 22 28 L 22 26 z M 10 26 L 10 24 L 8 24 L 8 26 L 10 26 z M 8 24 L 8 22 L 6 22 L 6 24 L 8 24 z M 6 22 L 6 10 L 4 10 L 4 22 L 6 22 z M 6 10 L 8 10 L 8 8 L 6 8 L 6 10 z M 8 8 L 10 8 L 10 6 L 8 6 L 8 8 z M 15 10 L 15 12 L 17 12 L 17 10 L 15 10 z M 14 14 L 14 16 L 15 16 L 15 22 L 18 22 L 18 20 L 17 20 L 17 14 L 14 14 z'/%3E%3C/svg%3E"); display: inline-block; width: 24px; height: 24px; margin-right: 4px; }
ul > li { line-height: 1.25em; }
ul > li:not(:last-child) { margin-bottom: .5rem; }
footer { background-color: #F9F9F9; color: #0E0E0E; padding: 1.5rem; display: block; text-align: right; }
@media only screen and (max-width: 768px) {
    .bg-dark h1 { font-size: 2.4rem; line-height: 2.6rem; }
    .bg-dark h2 { font-size: 4.6rem; line-height: 4.8rem; }
    .bg-dark .cta, .bg-dark .cta a { display: block; padding: 0; }
    .bg-dark .cta a { margin: 2rem 1rem; padding: 2.4rem 2.8rem; }
    .bg-dark .wrapper { margin: 0; }
    .wrapper { margin: 0 1rem; }
}
